
body {
    background-color: white;
    font-family: 'Playfair +Display', sans-serif;
    font-size: 12px;
    line-height: 1.5;  
    text-align: center;
    margin: 2em;
    max-width: 100%;
}

section img {
  max-width: 150px;
    box-shadow: 5px 5px 5px rgba(37, 36, 36, 0.575);
}
section h2, h1 {
    color: rgb(17, 61, 63);
}
h1{
    font-size: 4em;
}


.cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
section {
    background-color: rgba(170, 231, 233, 0.664);
    border: 1px solid black;
    margin: 2px;
    text-align: center;
    padding: 12px;
}
section p {
    font-size: 10px;
}