@media only screen and (min-width: 660px) {
    nav button { display: none;}
    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3232+0,aa0000+100 */
    background: #9d916c; /* Old browsers */
    background: -moz-linear-gradient(top, #d7895a 0%, #9d916c 20%,#5a648f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d7895a 0%, #9d916c 20%,#5a648f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d7895a 0%, #9d916c 20%,#5a648f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013c58', endColorstr='#a8e8f9',GradientType=0 ); /* IE6-9 */
    }
        nav ul.hide {display: block;}
       
        nav ul li {
            float: left;
        }
    
        nav ul li a {
            border: none;
            border-right: 1px solid rgba(11, 96, 129, 0.70);
            padding: .6rem 1rem;
        }
    }