nav button { 
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}
nav {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;  
    background-color: #2d385f;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid #6a7ec5d2;
}



nav ul li.active a{ background-color: #5a648f; color: white;}

nav ul li a:hover {
    background-color: #faad7e80;
    color: white;
}

nav ul.hide {display: none;}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.motto {
        margin: 0;
        font-size: .75em;
        max-width: 100%;

}
header img {
    /* padding: 2em 2em 0em; */
    max-width: 100%;

}
body {
    background-color: white;
    font-family: 'Raleway', sans-serif;  
    font-size: 16px;
    line-height: 1.5;  
    text-align: center;
}
.content{
    margin: 2em;
}
h1 {
    color: #2ea5917e;
}
h2 {
    color: #a56f4d;   
}
h2, p {
    text-align: left;
}
p, footer, .overlay{
    color: #2d385f;
    font-family: 'Montserrat', sans-serif;
}
header, .contact {
    background-color: #2ea5917e ;
    padding: 1em;
    border-top:3px solid #2ea5917e;
    border-bottom:3px solid #2ea5917e;
}
footer {
    background-color: #9d916c;
    padding: 1em;
}
form {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;  
    padding: 0 2%;
    min-height: 20rem;

}
form fieldset {
margin: 2rem 0;
border: 3px solid #2d385f;
border-radius: 20px;
padding: .5rem 2%;
text-align: left;
box-shadow: 5px 5px 5px rgba(11, 96, 129, 0.20);
background-color: rgba(199, 236, 243, 0.315);
}
form legend {
color: #013c58;
margin: 0 1rem;
padding: 0 .5rem;
}
form label.top, form div {
display: block;
padding-top: 1rem;
color: #2d385f;
font-size: .8rem;
}
form label.top div {
padding-top: 0em;
}
form label.top input, form label.top textarea {
-webkit-appearance: none;
display: block;
font-size: 1rem;
border: solid 1px #999;
border-radius: 4px;
padding: .75rem;
color: #555;
width: 80%;
max-width: 20rem;
background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
display: block;
padding: .75em 0em;
color: #2d385f;
}
form input.submitBtn {
border: none;
background-color:  #2d385f;
color: white;
border-radius: .5rem;
padding: .75rem 1.5rem;
margin: 0 0 2rem 2%;
width: 96%;
max-width: 20rem;
}
.submitBtn {
text-align: center;
}
.submitBtn:hover {
box-shadow: 0 0 .5em .25em #48ffe19f;
}

form label.top input:required {
border-left: #d7895a solid 6px;
}
form label.top input:required:valid {
border-left: #52dac3ec solid 6px;
}
.thanks {
margin: 2em;
}
#info {
    border: 3px solid #2ea5917e;
    margin: 2.5em;
    padding: 2em;
    background-color: #dafff8f1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#info h1 {
    color: #013c58;
    text-align: center;
}
#info h2 {
    text-align: center;
}
#info li{
    text-align: left;
}
.address p{
    text-align: center;
}
.weather {
    border: 3px solid #2d385f;
    margin: 1em;
    padding: 1em;
    background-color: #e1f4ff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
footer {
    background-color: #756c4f;
    padding: 1em;
    text-align: center;
    color: white;
}
footer a:visited {
    color: rgb(212, 247, 238) !important;
  }
