/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 460px) {

h1 {
    font-size: 2.5em;
}
.motto {
    font-size: 1.5em;
}
header img {
    width: 75px;
    height: 75px;
}
.overlay {
    position: absolute;
}
.ttitle {
    display: block;
}
table {
    display: table;
}
#picnic {
    max-height: 400px;
    float: right;
    margin: 1em .75em 1em 2em;
}
.map {
    display: block;
    max-width: 50%;
}
.contact {
    display: flex;
}
.address {
    margin-left: auto;
    margin-right: auto;
        max-width: 250px;

}
form fieldset {
    max-width: 80%;
    margin: 2em auto;
}
} /*end medium */