nav button { 
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #ffffff;
}
nav {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;  
    background-color: #2d385f;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid #6a7ec5d2;
}



nav ul li.active a{ background-color: #5a648f; color: white;}

nav ul li a:hover {
    background-color: #faad7e80;
    color: white;
}

nav ul.hide {display: none;}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.motto {
        margin: 0;
        font-size: .75em;
        max-width: 100%;

}
header img {
    /* padding: 2em 2em 0em; */
    max-width: 100%;

}
body {
    background-color: white;
    font-family: 'Raleway', sans-serif;  
    font-size: 16px;
    line-height: 1.5;  
    text-align: center;
}
h1 {
    color: #2ea5917e;
}
h2 {
    color: #d7895a;   
}
p, footer, .overlay{
    color: #2d385f;
    font-family: 'Montserrat', sans-serif;
}
header, .contact {
    background-color: #2ea5917e ;
    padding: 1em;
    border-top:3px solid #2ea5917e;
    border-bottom:3px solid #2ea5917e;
}
footer {
    background-color: #9d916c;
    color: white;
    padding: 1em;
}
.cards {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    /* width: 80%; */
    margin: 2em;
}
section {
    background-color: #d5defdb9;
    border: 3px solid #2d385f;
    border-radius: 20px;
    margin: 5%;
    text-align: center;
    padding: 10%;
    box-shadow: 5px 5px 5px #65ada7a2;
max-width: 50% auto;
}
section p {
    font-size: 10px;
}

section img {
    max-height: 150px;
    max-width: 250px;
    padding-top: 1em;
    max-width: 100%;
  }
  section h2, h1 {
      color: rgb(17, 61, 63);
  }

  .myClass1{
display:block;
  }
  .myClass2{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .btns #list, .btns #grid {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:3em 1em 0em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color:#b66d40;
    text-align:center;
    transition: all 0.2s;
    }
    .btns #grid:hover{
    background-color:#3c9c94;
    }
    .btns #list:hover{
        background-color:#3c9c94;
        }
  