main {
    margin: 0px 0px 300px 0px;
}
.gallery{
    width: 60%;
    margin: 2% 20%;
   
}
img[data-src]{
    filter: blur(1px) grayscale(75%);
    transition: filter 4s;
  }
img src{
    filter: blur(0px) grayscale(0%);
}
  
h1 {
    text-align: center;
}
